doctype html
html(lang='en')
    body
        include head
        // Page Content
        .container
            .row
                .col-md-3
                    p.lead Top End Code
                    .list-group
                        .list-group-item
                            summary Textbooks
                            .drop-down-content
                                .drop-down-content.single-item
                                    a(href='#') Programming
                                .drop-down-content.single-item
                                    a(href='#') Marketing
                                .drop-down-content.single-item
                                    a(href='#') Other
                        .list-group-item
                            summary Magazines
                            .drop-down-content
                                .drop-down-content.single-item
                                    a(href='#') Programming
                                .drop-down-content.single-item
                                    a(href='#') Marketing
                                .drop-down-content.single-item
                                    a(href='#') Other
                        .list-group-item
                            summary DVDs
                            .drop-down-content
                                .drop-down-content.single-item
                                    a(href='#') Programming
                                .drop-down-content.single-item
                                    a(href='#') Marketing
                                .drop-down-content.single-item
                                    a(href='#') Other
                .col-md-9
                    p.lead #{title}
                    .search-results-list
                        .row
                            .search-results-list.search-results-item
                                img(id='search-results-image', src='http://placehold.it/140x90', alt='')
                                .search-results-list.search-results-item.ratings
                                    p
                                        if rating > 0
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 1.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 2.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 3.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 4.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                    p #{reviews} reviews
                                .search-results-list.search-results-item.price-and-buy
                                    p.search-results-list.search-results-item.price-and-buy.price() $69.99
                                    a.search-results-list.search-results-item.price-and-buy.buy(href='#') Add to Cart
                                .search-results-list.search-results-item.title-description
                                    p.search-results-list.search-results-item.title-description.title Sample product title
                                    p.search-results-list.search-results-item.title-description.description Sample product description bla product description bla product description bla product description bla product description bla product description bla Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consect...
                        .row
                            .search-results-list.search-results-item
                                img(id='search-results-image', src='http://placehold.it/140x90', alt='')
                                .search-results-list.search-results-item.ratings
                                    p
                                        if rating > 0
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 1.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 2.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 3.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                        if rating > 4.5
                                            span.glyphicon.glyphicon-star
                                        else
                                            span.glyphicon.glyphicon-star-empty
                                    p #{reviews} reviews
                                .search-results-list.search-results-item.price-and-buy
                                    p.search-results-list.search-results-item.price-and-buy.price() $69.99
                                    a.search-results-list.search-results-item.price-and-buy.buy(href='#') Add to Cart
                                .search-results-list.search-results-item.title-description
                                    p.search-results-list.search-results-item.title-description.title Sample product title
                                    p.search-results-list.search-results-item.title-description.description Sample product description bla product description bla product description bla product description bla product description bla product description bla Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consect...
        // /.container
        .container
            hr
            // Footer
            footer
                .row
                    .col-lg-12
                        p Copyright © TEC 2016
        // /.container
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
