doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-cart.css', rel='stylesheet')
        // Page Content
        p #{title}     
        .container
            .row
                include sidebar
                .col-md-9
                    .outer-left-side
                        .left-side
                            .cart-list
                                each item in items
                                    .row
                                        .cart-list.cart-item
                                            img(id='cart-item-image', src='images/book-image.png', alt='')
                                            p.title-text #{item.name}
                                            a.remove-button(href='#') Remove
                                            p.description-text #{item.description}
                    .outer-right-side
                        .right-side
                            .cart-summary
                                p.cart-summary.title-text Cart Summary
                                p.cart-summary.price $#{totalPrice}
                                a.cart-summary.proceed-button(href='') Proceed To Checkout

        hr
        include foot
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
