doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-cart.css', rel='stylesheet')
        // Page Content 
        .container
            .row
                include sidebar
                if loginState == 1
                  .col-md-9
                    .outer-left-side
                        .left-side
                            .cart-list
                                each item, index in items
                                    .row
                                        .cart-item
                                            img(id='cart-item-image', src='images/book-image.png', alt='')
                                            a.title-text(href='/view?itemid=#{item.id}') #{item.name}
                                            a.remove-button(href="/cart?index="+index) Remove
                                            p.description-text #{item.description}
                    .outer-right-side
                        .right-side
                            .cart-summary
                                p.cart-summary.title-text Cart Summary
                                p.cart-summary.price $#{totalPrice}
                                a.cart-summary.proceed-button(href='/checkout') Proceed To Checkout
                else
                  p You must be logged in first before you can buy anything. 
                    a(href="/login") </br> Login

        hr
        include foot
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
