doctype html
html(lang='en')
    body
        include head
        link(href='css/shop-profile.css', rel='stylesheet')
        // Page Content
        .container
            .row
                include sidebar
                .col-md-9
                    p.lead Username
                    .left-side
                        p User ID
                        p Fname Lname
                        p Address
                        p Email Address
                    .right-side
                        img(id='profile-image',src='http://placehold.it/300x200', alt='')
        // /.container
    hr
    include foot
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
