extends ../node_modules/jade-bootstrap/_bootstrap
head
  title=title

style.
    h3 {font-size: 19px; color: #464646;}



block body
  +navbar("Top End Code", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/browse", "active") Browse
  .container
    h1 Top End Code
    p Click the links below to explore the folders

  .container
    s
      a(href='/browse') Click here to return to Top End Code Browse Page

        a(href='/browse?path=' + folder) #{folder}
        br

        h3 Files returned in #{path}
        
        h3 Upload your files below.
        p.
          To upload file please click "Choose File" to select file then click "Upload File"
        a(style={color: 'red', background: 'green'})
        a(href='view?path=' + path + file) #{file}
        a(style={color: 'red', background: 'green'})
        br

    br
    form(action="/upload?path=" + path, method="post", enctype="multipart/form-data")
      input(type="file", name="file")
      button(type="submit") Upload File
