.col-md-3
   p.lead Top End Code
   .list-group
      .list-group-item
         details
            summary <a href='/search?catagory=programminglanguage'>Programming Languages</a>
            .drop-down-content.single-item
               a(href='/search?type=java') Java
            .drop-down-content.single-item
               a(href='/search?type=python') Python
            .drop-down-content.single-item
               a(href='/search?type=C') C
            .drop-down-content.single-item
               a(href='/search?type=Cplusplus') C++
            .drop-down-content.single-item
               a(href='/search?type=ruby') Ruby
      .list-group-item
         details
            summary <a href='#'>Operating Systems</a>
            .drop-down-content
               .drop-down-content.single-item
                  a(href='#') Windows
               .drop-down-content.single-item
                  a(href='#') Linux
               .drop-down-content.single-item
                  a(href='#') OS X
               .drop-down-content.single-item
                  a(href='#') iOS
               .drop-down-content.single-item
                  a(href='#') Android
               .drop-down-content.single-item
                  a(href='#') Other
      .list-group-item
         a(href='#') Computer Science
      .list-group-item
         a(href='#') Business
      .list-group-item
         a(href='#') Databases
      .list-group-item
         a(href='#') Game Programming
      .list-group-item
         a(href='#') Graphics
      .list-group-item
         a(href='#') Open Source
      .list-group-item
         a(href='#') User Guides
      .list-group-item
         a(href='#') Other