.col-md-3
   p.lead Top End Code
   .list-group
      .list-group-item
         details
            summary <a href='/search?catagory=programminglanguage'>Programming Languages</a>
            .drop-down-content.single-item
               a(href='/search?type=java') Java
            .drop-down-content.single-item
               a(href='/search?type=python') Python
            .drop-down-content.single-item
               a(href='/search?type=C') C
            .drop-down-content.single-item
               a(href='/search?type=Cplusplus') C++
            .drop-down-content.single-item
               a(href='/search?type=ruby') Ruby
      .list-group-item
         details
            summary <a href='/search?catagory=operatingsystems'>Operating Systems</a>
            .drop-down-content
               .drop-down-content.single-item
                  a(href='/search?type=windows') Windows
               .drop-down-content.single-item
                  a(href='/search?type=linux') Linux
               .drop-down-content.single-item
                  a(href='/search?type=osx') OS X
               .drop-down-content.single-item
                  a(href='/search?type=ios') iOS
               .drop-down-content.single-item
                  a(href='/search?type=andriod') Android
               .drop-down-content.single-item
                  a(href='/search?type=other') Other
      .list-group-item
         a(href='/search?catagory=computerscience') Computer Science
      .list-group-item
         a(href='/search?catagory=business') Business
      .list-group-item
         a(href='/search?catagory=databases') Databases
      .list-group-item
         a(href='/search?catagory=gameprogramming') Game Programming
      .list-group-item
         a(href='/search?catagory=graphics') Graphics
      .list-group-item
         a(href='/search?catagory=opensource') Open Source
      .list-group-item
         a(href='/search?catagory=userguides') User Guides
      .list-group-item
         a(href='/search?catagory=other') Other