doctype html
html(lang='en')
   body
      include head
      link(href='css/shop-terms.css', rel='stylesheet')
      // Page Content
      .container
         .row
            .col-md-12
               .row
                  .inner-container
                     p.terms.title-text <strong>Web Site Terms and Conditions of Use</strong>
                     p.terms.sub-title </br>1. Terms
                     .terms.body-text
                        p By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.</br> The materials contained in this web site are protected by applicable copyright and trade mark law.
                     p.terms.sub-title </br>2. Use License
                     .terms.body-text
                        ul
                           li
                              p Permission is granted to temporarily download one copy of the materials (information or software) on TEC's web site for personal, non-commercial transitory viewing only. </br>This is the grant of a license, not a transfer of title, and under this license you may not:
                              ol
                                 li
                                    p modify or copy the materials;
                                 li
                                    p use the materials for any commercial purpose, or for any public display (commercial or non-commercial)
                                 li
                                    p attempt to decompile or reverse engineer any software contained on TEC's web site;
                                 li
                                    p remove any copyright or other proprietary notations from the materials; or
                                 li
                                    p transfer the materials to another person or "mirror" the materials on any other server.
                           li
                              p This license shall automatically terminate if you violate any of these restrictions and may be terminated by TEC at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
                     p.terms.sub-title </br>3. Disclaimer
                     .terms.body-text
                        p The materials on TEC's web site are provided "as is". TEC makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, TEC does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
                     p.terms.sub-title </br>5. Revisions and Errata
                     .terms.body-text
                        p The materials appearing on TEC's web site could include technical, typographical, or photographic errors. TEC does not warrant that any of the materials on its web site are accurate, complete, or current. TEC may make changes to the materials contained on its web site at any time without notice. TEC does not, however, make any commitment to update the materials.
                     p.terms.sub-title </br>6. Links
                     .terms.body-text
                        p TEC has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by TEC of the site. Use of any such linked web site is at the user's own risk.
                     p.terms.sub-title </br>7. Site Terms of Use Modifications
                     .terms.body-text
                        p TEC may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
                     p.terms.sub-title </br>8. Governing Law
                     .terms.body-text
                        p Any claim relating to TEC's web site shall be governed by the laws of the State of New York without regard to its conflict of law provisions.
                     p.privacy.title-text </br><strong>Privacy Policy</strong>
                     .privacy.body-text
                        p We at TEC Media LLC ("TEC") respect your concerns about privacy and value the relationship we have with you. This Online Privacy Notice applies to personal information we collect on this website (the "Site").
                        | This Online Privacy Notice describes the types of personal information we collect on the Site, how we may use the information, with whom we may share it and the choices available to you regarding our use of the information. We also describe the measures we take to safeguard the information and tell you how to contact us about our privacy practices.
                        | </br></br>Click on one of the links below to jump to our Privacy Policy page:
                        ul
                           li
                              a(href='#') Information We Collect
                           li
                              a(href='#') How We Use The Information We Collect
                           li
                              a(href='#') Online Tracking
                           li
                              a(href='#') Information We Share
                           li
                              a(href='#') Links To Other Websites
                           li
                              a(href='#') How We Protect Personal Information
                           li
                              a(href='#') Your Choices
                           li
                              a(href='#') Access and Correction
                           li
                              a(href='#') Data Transfers
                           li
                              a(href='#') Updates To Our Online Privacy Notice
                           li
                              a(href='/contact') How To Contact Us
                     p.return.title-text <strong>Return policy</strong>
                     .return.body-text
                        p The sale and purchase of products via this website is by a contract between you and us, formed when you have placed an order. Once your order has been placed, the purchased eBook appears in your "Your eBooks" section which you find under "Your Account".
                        | Please note that as soon as we confirm your eBook order, it will be processed by our electronic system and we will be unable to prevent it being dispatched to your account.
                        | </br>In addition, no refunds or exchanges will be given on eBooks unless the supplied file is faulty or a fault occurs during the book being made available to you, i.e. during download.
                        | </br></br>If either case should sadly arise, then you should contact our Customer Support who will be able to resolve this issue for you.
                        | </br></br>All TEC eBooks will be supplied for in-app reading or downloadable in a number of formats. It is therefore the responsibility of the purchaser to obtain a copy of the appropriate software necessary for viewing the eBook.

      // /.container
      hr
      include foot
      // /.container
      // jQuery
      script(src='js/jquery.js')
      // Bootstrap Core JavaScript
      script(src='js/bootstrap.min.js')