
.left-side {
    float: left;
    width: 58%;
    margin: 5px 5px;
}

.right-side {
    float: right;
    margin: 5px 5px;
    width: 38%;
}

#profile-image {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.profile-listings {

}

.profile-listing-single {
    width: 33.3%;
    float: left
}

.title-text {
    text-align: center;
    font-size: xx-large;
}