
.middle-container {

}
.middle-container.image {
    float: right;
    border: groove;
    padding: 0.3%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.middle-container.description {

}