.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.drop-down-content {
    text-align: start;
    margin: 5px 0px 0px 0px;
}
.drop-down-content.single-item {
    font-size: small;
    padding: 0px 0px 0px 10px;
}

.item.active {
    width: inherit;
    height: 300px;
}

.sample-summary {
    overflow-y: scroll;
    border: 0px;
    width: 100%;
    padding: 5px 5px;
}