
.middle-container {
    position: relative;
    height: 400px;
}
.middle-container.title-text {
    font-size: xx-large;
    position: absolute;
    left: 56%;
}
.middle-container.image {
    position: absolute;
    left: 75%;
    top: 15%;
    height: auto;
    border: groove;
    padding: 0.3%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.middle-container.text-content {
    position: absolute;
    top: 15%;
    left: 15%;
}